[MASTER]
ignore=.venv,venv,build,dist,__pycache__
jobs=1
persistent=yes
unsafe-load-any-extension=no

[MESSAGES CONTROL]
# Deixe estes ativos (vamos corrigir no código)
disable=
    C0114,  # missing-module-docstring (aceitaremos por enquanto nos módulos simples)
    C0115   # missing-class-docstring

[REPORTS]
score=yes

[FORMAT]
max-line-length=100
indent-string='    '

[BASIC]
good-names=i,j,k,x,y,z,n,df,dt
