[MASTER]
ignore-patterns=^tests/,.*/__init__\.py,.*\.ipynb

[MESSAGES CONTROL]
disable=C0103,W0130,C0114,C0115,C0116

[FORMAT]
indent-string='    '
max-line-length=100

[DESIGN]
max-args=6
max-attributes=10
